<!doctype html>
<title>{% block title %}{% endblock %} - FlaskHW</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>FlaskHW</h1>
  <ul>
      <li><a href="{{ url_for('blog.index') }}">Main</a>
      <li><a href="{{ url_for('blog.view') }}">View Messages</a>
      <li><a href="{{ url_for('blog.insert_message') }}">Submit New Message</a>
    
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
